
header {
    min-height: 150px;
    background-color: lightblue;
    
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.logo{

    min-width: 19%;
    min-height: 30px;
    background-color: lightgreen;
    color: black;
    text-align: center;
    border: 2px dashed black;

}

.link {
    min-width: 60%;
    min-height: 30px;
    background-color: lightgreen;
    color: black;
    text-align: center;
    border: 2px dashed black;


}

.login {
    min-width: 19%;
    min-height: 30px;
    background-color: lightgreen;
    color: black;
    text-align: center;
    border: 2px dashed black;
    
}

.section-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    background-color:lightgreen;
    
   
}

.content-section {
    min-height: 200px;
    min-width: 500px;
    background-color:darkred;;
    border: 2px dashed black;
}

.section-flex-container-W {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    background-color:white;
}
.section-flex-container-G {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 600px;
    min-height: 300px;
    background-color:lightgray;
}
.section-flex-container-G-special {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 600px;
    min-height: 600px;
    background-color:lightgray;
}
.section-flex-container-B {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    background-color:darkslateblue;
}

.square-a{
    min-height: 250px;
    min-width: 60%;
    background-color:lightcoral;
    border: 2px dashed black;
}

.square-b{
    min-height: 250px;
    min-width: 20%;
    background-color: darkcyan;
    border: 2px dashed black;
}

.square-c{
    min-height: 250px;
    min-width: 20%;
    background-color:lightcoral;
    border: 2px dashed black;
}

.square-d{
    min-height: 250px;
    min-width: 60%;
    background-color: darkcyan;
    border: 2px dashed black;}

.square-e{
    min-height: 500px;
    min-width: 80%;
    background-color: darkmagenta;
    border: 2px dashed black;
    }
    

